---
import Layout from "layouts/Layout.astro";
import { locations } from "data/locations";
import LocationCard from "components/LocationCard.astro";
const pageTitle = "Locations";
---

<Layout pageTitle={pageTitle}>
  <section class="flex flex-col gap-10 md:gap-30 lg:gap-7">
    {locations.map((location, i) => <LocationCard location={location} index={i}/>)}
  </section>
</Layout>
