---

---

<section class="mx-6 relative top-62 -mt-42 md:mx-10">
  <div
    class="bg-[url(../src/assets/shared/desktop/bg-pattern-call-to-action.svg)] bg-peach rounded-2xl
    bg-no-repeat bg-position-[left_-16rem_top_-7rem_]
    flex flex-col items-center justify-center text-center py-16 px-6"
  >
    <h1 class="text_h1 text-white mb-5">Let's talk about<br>your project</h1>
    <p class="text_body text-white mb-8">
      Ready to take it to the next level? Contact us today and find out how our
      expertise can help your business grow.
    </p>

    <a href="/contact">
      <button class="btn_white">GET IN TOUCH</button>
    </a>
  </div>
</section>
