---
const { title, desc } = Astro.props;
---

<div
  class="bg-[url(/bgCircleSvg/bg-pattern-three-circles.svg)]
    bg-no-repeat
    md:bg-[position:bottom_25px_right] lg:bg-bottom
    py-20 px-6 md:py-16 md:px-14
    bg-very_light_peach
    text-center lg:text-left lg:flex-1 lg:flex lg:flex-col lg:justify-center
    "
    >
  <h1 class="text_h1 text-peach mb-6">{title}</h1>
  <p class="text_body text-[15px]">
    {desc.split("<br>").map((line: string, index: number) => (
        <>
          {line}
          {index < desc.split("<br>").length - 1 && <br />}
        </>
      ))
    }
  </p>
</div>
