---
import logo from '../assets/shared/desktop/logo-dark.png';
import { Image } from 'astro:assets';
---

<nav>
  
  <Image src={logo} alt="Logo" />

  <ul>
    <li><a href="/">our company</a></li>
    <li><a href="/locations">locations</a></li>
    <li><a href="/contact">contact</a></li>
  </ul>
</nav>