---
import { Image } from "astro:assets";
const { project } = Astro.props;
---

<div class="bg-very_light_peach rounded-2xl overflow-hidden hover:bg-peach group md:grid md:grid-cols-2 lg:grid-cols-1">
  <Image src={project.image} alt={project.name} class="" />
  <div class="py-8 px-6 text-center lg:px-8">
    <div class="h-full my-auto flex flex-col justify-center">
      <h1 class="uppercase text_h3 text-peach mb-4 group-hover:text-white">{project.name}</h1>
      <p class="text_body group-hover:text-white">{project.desc}</p>
    </div>
  </div>
</div>
