---
import { Image } from "astro:assets";
import passionateImage from "assets/home/desktop/illustration-passionate.svg";
import resourcefulImage from "assets/home/desktop/illustration-resourceful.svg";
import friendlyImage from "assets/home/desktop/illustration-friendly.svg";

const services = [
  {
    title: "PASSIONATE",
    image: passionateImage,
  },
  {
    title: "RESOURCEFUL",
    image: resourcefulImage,
  },
  {
    title: "FRIENDLY",
    image: friendlyImage,
  },
];
---

<section>
  values
</section>
